.botaoSair {
  margin-left: 2rem;
  background: transparent;
  border: 0;
  transition: transform 0.2s;
  padding-right: 1rem;

  &:hover {
    transform: scale(1.4);
    transform: rotate(360deg);
  }
}