.containerImagem {
  border: 1px solid gray;
  padding: 1px;
  margin: 16px;
  border-radius: 8px;
  height: 62vh;
  display: flex;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  & > * {
    overflow: visible !important;
  }

}

.containerFiltros {
  margin: 15px;

  & > * {
    margin-bottom: 5px;
  }

  & > button {
    width: 100%;
  }
}
